{% extends "base.html" %}
{% block content %}



<div class="container mt-5 pt-4">
    
    <div class="col-6 mx-auto">
        <h3 class="text-center">Iniciar Sesión</h3>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-12">
                    <input type="text" placeholder="Mobile" class="form-control" name="Nro celular" id="">
                </div>
            </div>

            <p>¿Aun no tienes cuenta? <a href="{% url 'register' %}">Registrate</a></p>
            <button class="btn btn-primary">Enviar</button>
        </form>
    </div>

</div>


{% endblock %}